@import "tailwindcss";

/* Chrome, Safari, Edge */
.trendingContainer::-webkit-scrollbar {
  height: 8px;
}

.trendingContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.trendingContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.trendingContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox */
.trendingContainer {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}